.hidden {
    display: none;
}

/* Controle de visibilidade dos ícones */
.toggle-text {
    display: block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
}

.toggle-text:hover {
    text-decoration: underline;
}

/* Mostra o ícone 'mostrar mais' quando o texto está oculto */
#show-more {
    display: block;
}

/* Mostra o ícone 'mostrar menos' quando o texto está visível */
#show-less {
    display: none;
}

/* Esconde o ícone 'mostrar mais' quando o texto está visível */
#more-text:not(.hidden) ~ #show-more {
    display: none;
}

/* Esconde o ícone 'mostrar menos' quando o texto está oculto */
#more-text.hidden ~ #show-less {
    display: none;
}