@media (max-width: 768px) {/*Parte Responsiva para o Mobile*/

    .header-content {
        padding: 0 10px; 
        margin-left: -5px; 
        margin-right: -10px;
    }
    .header-content h1 {
        text-align: center;
        font-size: 1.8em;
    }
    .container {
        width: 90%;
    }
    .sidebar {
        width: 200px;
    }
    .sidebar.active {
        right: 0;
    }
    main {
        margin-right: 0;
        padding: 20px;
    }
    .hero-content h2 {
        font-size: 1.8em;
    }
    .hero-content p {
        font-size: 1em;
    }
    .mySlides img {
        height: auto;
        max-height: 300px;
    }
}
