.section-divider {/* a divisão entre as caixas, e  aqui voce escolhe as cores para o gradiente  */
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    margin: 60px 0;
    border-radius: var(--border-radius);
}

section {/* Configuarações das Caixas  */
    padding: 60px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid var(--cor-primaria);
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

section h2 {/* Configuarações dos textos que estão dentro do section */
    margin-bottom: 20px;
    font-size: 2.5em;
    color: var(--cor-primaria);
    text-shadow: 1.5px 3px 4px rgba(0, 0, 0, 0.25);
}

section h3 {/* Configuarações dos textos que estão dentro do section */
    font-size: 1.8em; 
    color: var(--cor-primaria);
    margin: 20px 0; 
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

section p {/* Configuarações dos textos que estão dentro do section */
    margin: 0 auto 30px;
    max-width: 800px;
    font-size: 1.5em;
    color: #555;
}